header {
  font-family: "Roboto", sans-serif;
  border: 1px solid #ECECEC;
}

.header__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;
  color: #2196F3;
  text-decoration: none;
}

.header__title__double {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;
  color: #000000;
}

.navigation__link,
.header__contacts__mail,
.header__contacts {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  color: var(--s-black);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}
.navigation__link:hover {
  color: #2196F3;
}
.navigation__link:focus {
  color: #188CE8;
}

.navigation__list,
.header__list__contacts,
.details-list,
.photo-list,
.team-list,
.portfolio-list,
.portfolio-buttons-list {
  list-style: none;
}

.contacts-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  color: var(--s-grey);
}
.contacts-mail:hover {
  color: #2196F3;
}
.contacts-mail:focus {
  color: #188CE8;
}

.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  color: var(--s-grey);
}
.contacts:hover {
  color: #2196F3;
}
.contacts:focus {
  color: #188CE8;
}

header {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
  gap: 50px;
  margin-left: 93px;
}

.navigation {
  margin-right: auto;
  display: none;
}

.header-list-contacts {
  display: flex;
  align-items: center;
  gap: 50px;
  display: none;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list-contacts {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list-contacts a:hover {
  color: #2196F3;
}
.header-list-contacts a:focus {
  color: #2196F3;
}

.header-list-contacts svg {
  fill: currentColor;
}

.header-list-contacts {
  display: flex;
  align-items: center;
  list-style: none;
}

.contacts-mail {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contacts {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navigation__link--current::after {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  bottom: -1px;
  display: block;
  content: "";
}

.navigation__link--current {
  color: #2196F3;
}

.navigation__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts, .contacts-mail {
  text-decoration: none;
}

.decisions {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg.jpg);
  flex-grow: 1;
  max-width: 1600px;
  margin: 0 auto;
}

.decision-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.3636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.decision-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.decisions {
  padding-top: 118px;
  padding-bottom: 118px;
}

.decision-title {
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.decision-button {
  letter-spacing: 0.06em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
  margin: 0 auto;
  border: 0;
}
.decision-button:hover {
  background: #188CE8;
}
.decision-button:focus {
  background: #188CE8;
}

main {
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Roboto", sans-seerif;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #757575;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;
}

.photo-section {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1666;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0 0 30px;
}

.section,
.photo {
  padding-top: 0;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.null {
  padding-top: 0px;
  display: none;
}

body img {
  display: block;
  width: 100%;
  height: auto;
}

:root {
  --s-grey: #757575;
  --s-black: #212121;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.details-list-head {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--s-black);
}

.details-list-uphead {
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: var(--s-grey);
}

.details-list {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.details-list h3 {
  margin-bottom: 10px;
  text-align: center;
}

.details-list p {
  width: 270px;
}

.details-list li {
  width: 100%;
}

.img-cont {
  background-color: #F5F4FA;
  border-radius: 4px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.team-user1,
.team-user2,
.team-user3,
.team-user4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-user-info1,
.team-user-info2,
.team-user-info3,
.team-user-info4 {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--s-grey);
}

.team-list-notgeneral {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team {
  background: #F5F4FA;
}

.team-list {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.team-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-container h3 {
  margin-bottom: 10px;
}

.team {
  padding-bottom: 95px;
}

.team-links-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-links-info:hover {
  background-color: #2196F3;
  color: #FFFFFF;
}
.team-links-info:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}

.team-links-list {
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.team-link-icon {
  fill: currentColor;
}

.team-list-notgeneral {
  width: 100%;
}

.team-links-list {
  margin-top: 16px;
}

.footer-section {
  background: #2F303A;
}

.adress {
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer-title-double {
  color: #FFFFFF;
}

.contacts-mail-footer {
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-mail-footer:hover {
  color: #2196F3;
}
.contacts-mail-footer:focus {
  color: #188CE8;
}

.contacts-footer {
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-footer:hover {
  color: #2196F3;
}
.contacts-footer:focus {
  color: #188CE8;
}

.footer-section {
  display: flex;
  flex-direction: column;
}

.footer-header-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;
  color: #2196F3;
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
}

.footer-header-list-main {
  list-style: none;
}

.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
}

.footer-links {
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  fill: #ffffff;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-links:hover {
  background-color: #2196F3;
}
.footer-links:focus {
  background-color: #2196F3;
}

.footer-list {
  display: flex;
  gap: 10px;
  list-style: none;
}

.title-footer {
  color: #ffffff;
}

.footer-svg h3 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

footer .container {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 60px;
}

footer li {
  margin-top: 9px;
}

.footer-field {
  position: relative;
  margin-left: auto;
}

.footer-button {
  fill: #ffffff;
  background-color: #188CE8;
  color: #ffffff;
  border: 0;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-left: 28px;
  padding-right: 28px;
  margin-left: 140px;
  margin-right: 140px;
  gap: 10px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 20px;
}
.footer-button:hover {
  background-color: #2196F3;
}

.footer-input {
  width: 358px;
  height: 50px;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer-input:focus {
  outline: 1px solid #ffffff;
  border: transparent;
}

.label-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14285;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  display: block;
  margin-bottom: 20px;
}

.footer__section__div__pos {
  display: flex;
  gap: 12px;
}

footer .container {
  justify-content: space-between;
}

.contact-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-left: 124px;
  margin-right: 124px;
}

.portfolio-buttons {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  border: 0;
  padding: 6px 22px;
  border-radius: 4px;
  background: #F5F4FA;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-buttons:hover {
  background: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-buttons:focus {
  color: #FFFFFF;
  background-color: #188CE8;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.25;
  letter-spacing: 0.06em;
  color: var(--s-black);
}

.portfolio-downtitle {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--s-grey);
}

.portfolio-buttons-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.portfolio-images-downtitle {
  padding-top: 20px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 20px;
}

.portfolio-images-downtitle h2 {
  margin-bottom: 5px;
}

.portfolio-listx {
  background: #FFFFFF;
}

.portfolio-images-downtitle {
  border: 1px solid #EEEEEE;
  border-top: 0px;
}

.portfolio-listx {
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio-shadow {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-shadow:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-shadow:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-lorem {
  position: absolute;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555;
  letter-spacing: 0.03em;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-right: 24px;
  padding-left: 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-div-lorem {
  position: relative;
  overflow: hidden;
}

.portfolio-shadow:hover .portfolio-lorem {
  transform: translateY(0);
}

.photo-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.p-downtitle {
  font-size: 14px;
  position: absolute;
  line-height: 1.1428;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  background: rgba(47, 48, 58, 0.8);
  left: 0;
  bottom: 0;
  width: 100%;
  font-weight: 700;
}

.li-relative {
  position: relative;
}

.clients-list {
  list-style: none;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.clients-link svg {
  fill: currentColor;
}

.clients-link {
  display: flex;
  height: 92px;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover {
  color: #2196F3;
  border-color: #2196F3;
}
.clients-link:focus {
  color: #2196F3;
  border-color: #2196F3;
}

.clients-list li {
  flex-basis: calc((100% - 30px) / 2);
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(0, 0, 0, 0.2);
}

.modal {
  width: 528px;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  position: absolute;
  background-color: white;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-x {
  fill: currentColor;
}
.modal-x:hover {
  fill: #2196F3;
}
.modal-x:focus {
  fill: #2196F3;
}

.button-modal {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 42px;
  font-size: 12px;
}
.modal-input::-moz-placeholder {
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-input:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-input::placeholder {
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-input:focus {
  outline: 1px solid #2196F3;
  border: transparent;
}
.modal-input:hover {
  border-color: #2196F3;
}

.modal-input2 {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding: 12px 16px;
  display: block;
  resize: none;
  font-size: 12px;
}
.modal-input2:focus {
  outline: 1px solid #2196F3;
  border: transparent;
}
.modal-input2:hover {
  border-color: #2196F3;
}

.modal-form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.form-svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
}

.label {
  display: block;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-field {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
}

.modal-input:focus + .form-svg {
  fill: #2196F3;
}

.button-submit {
  color: #ffffff;
  background-color: #188CE8;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  text-align: center;
  letter-spacing: 0.06em;
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  padding: 10px 52px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-submit:hover {
  background-color: #2196F3;
}

.check-text {
  font-size: 14px;
  line-height: 1.71428;
  letter-spacing: 0.03em;
  color: var(--s-grey);
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 10px;
}
.check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}

.input-checkbox:checked + .check-text::before {
  background-color: #2196F3;
  border: none;
  background-image: url(./images//ok.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.input-checkbox:focus + .check-text::before {
  border-color: #2196F3;
}

.relative {
  position: relative;
}

.label-second {
  color: #2196F3;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */or: #ffffff;
  background-color: #188CE8;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  text-align: center;
  letter-spacing: 0.06em;
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  padding: 10px 52px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-submit:hover {
  background-color: #2196F3;
}

.check-text {
  font-size: 14px;
  line-height: 1.71428;
  letter-spacing: 0.03em;
  color: var(--s-grey);
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 10px;
}
.check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}

.input-checkbox:checked + .check-text::before {
  background-color: #2196F3;
  border: none;
  background-image: url(./images//ok.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.input-checkbox:focus + .check-text::before {
  border-color: #2196F3;
}

.relative {
  position: relative;
}

.label-second {
  color: #2196F3;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */