header {
    font-family: 'Roboto', sans-serif;
}
main {
    font-family: 'Roboto', sans-serif;
}
body {
    font-family: 'Roboto', sans-seerif; 
    font-size: 16px; 
    letter-spacing:0.03em; 
    color: #757575;
}
:root {
    --s-grey: #757575;
    --s-black: #212121;
}
.header-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
}
.header-title-double {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
    color: #000000;
}
.header-list,
.contacts-mail,
.contacts{
    text-decoration: none;
}
.header-list2,
.header-list3,
.header-list1  {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    color: var(--s-black);
}  
.header-list-main,
.header-list-contacts,
.details-list,
.photo-list,
.team-list,
.portfolio-list,
.portfolio-buttons-list {
list-style: none;
}
.header-list:hover {
    color: #2196F3;
}
.header-list:focus {
    color: #188CE8;
}
.contacts:hover {
    color: #2196F3;
}
.contacts:focus {
    color: #188CE8;
}
.contacts-mail:hover {
    color: #2196F3;
}
.contacts-mail:focus {
    color: #188CE8;
}
.contacts-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    color: var(--s-grey);
}
.contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    color: var(--s-grey);
}
.decisions {
    background: #2F303A;
}
.decision-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.decision-button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}
.decision-button:hover {
    background: #188CE8;
}
.decision-button:focus {
    background: #188CE8;
}
.details-title,
.portfolio-title-hide {
    visibility: hidden;
}
.details-list-head {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--s-black);
}
.details-list-uphead {
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: var(--s-grey);
}
.photo-section {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.team-user1,
.team-user2,
.team-user3,
.team-user4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.team-user-info1,
.team-user-info2,
.team-user-info3,
.team-user-info4 {
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--s-grey);
}
.team-list-notgeneral1,
.team-list-notgeneral2,
.team-list-notgeneral3, 
.team-list-notgeneral4 {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team {
    background: #F5F4FA;
}
.footer-section {
    background: #2F303A;
}
.adress {
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer-title-double {
    color: #FFFFFF;
}
.portfolio-buttons {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    cursor: pointer;
    }
.portfolio-buttons:hover {
    background: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.portfolio-buttons:focus {
    color: #FFFFFF;
    background-color: #188CE8;
}
.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.25;
    letter-spacing: 0.06em;
    color: var(--s-black);
}
.portfolio-listx {
    width: 370px;
    height: 404px;
    left: 215px;
    top: 262px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}
.portfolio-downtitle {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--s-grey);
}
.contacts-mail-footer,
.contacts-footer {
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    text-decoration: none;
}
.contacts-mail-footer:hover {
    color: #2196F3;
}
.contacts-footer:hover {
    color: #2196F3;
}
.contacts-mail-footer:focus {
    color: #188CE8;
}
.contacts-footer:focus {
    color: #188CE8;
}
.container {
width: 1600px;
margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    align-items: center;
  height: 80px;
}
.header-list-main {
    display: flex;
    gap: 50px;
    margin-left: 90px;
}
.header-title {
    margin-left: 215px;
}
.header-navigation {
    margin-right: auto;
    gap: 50px;
}
.header-list-contacts {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-right: 215px;
}
.decisions {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}
.decision-title {
    width: 696px;
    height: 120px;
    display: flex;
}
.decision-button {
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
}
.details-list {
    display: flex;
    gap: 30px;
    width: 1170px;
    margin-right: 215px;
    margin-left: 215px;
    margin-top: 95px;
    margin-bottom: 95px;
}
.details-list p{
    width: 270px;
    height: 100px;
}
.photo-list {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 95px;
}
.team-title {
    display: flex;
    justify-content: center;
    padding-top: 95px;
}
.team-list {
    width: 270px;
    height: 370px;
    display: flex;
    gap: 30px;
   margin-top: 94px;
   margin-bottom: 95px;
   margin-right: 215px;
   margin-left: 215px;
}
.team {
    height: 650px;
}
.team-list h3{
    margin-top: 30px;
}
.team-list p{
    margin-bottom: 30px;
    margin-top: 10px;
}
.footer-section {
    height: 250px;
    display: flex;
    flex-direction: column;
}
.footer-header-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 215px;
}
.adress {
    margin-left: 190px;
}
.footer-header-list-main {
    list-style: none;
    margin-bottom: 60px;
    margin-left: 215px;
    margin-top: 10px;
}
.portfolio-buttons-list {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 95px;
    margin-bottom: 50px;
}
.portfolio-list {
    display: flex;
    margin-right: 215px;
    height: 1360px;
    margin-bottom: 95px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.portfolio-list h2,p{
    padding-right: 25px;
    padding-left: 25px;
}
.portfolio-list h2{
    padding-bottom: 5px;
}