header {
    font-family: 'Roboto', sans-serif;
}
main {
    font-family: 'Roboto', sans-serif;
}
body {
    font-family: 'Roboto', sans-seerif; 
    font-size: 16px; 
    letter-spacing:0.03em; 
    color: #757575
}
.header-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,1923;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
}
.header-title-double {
    font-weight: 700;
    font-size: 26px;
    line-height: 1,1923;
    letter-spacing: 0.03em;
    color: #000000;
}
.header-list,.contacts-mail,.contacts{
    text-decoration: none;
}
.header-list2,.header-list3,.header-list1  {
    font-weight: 500;
    font-size: 14px;
    line-height: 1,1428;
    letter-spacing: 0.02em;
    color: #212121;
}  
.header-list-main,.header-list-contacts,.details-list,.photo-list,.team-list,.portfolio-list {
list-style: none;
}
.header-list:hover {
    color: #2196F3;
}
.contacts:hover {
    color: #2196F3;
}
.contacts-mail:hover {
    color: #2196F3;
}
.contacts-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    color: #757575;
}
.contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    color: #757575;
}
.decisions {
    background: #2F303A;
}
.decision-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.decision-button-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
}
.decision-button {
    width: 216px;
    height: 50px;
    left: 707px;
    top: 417px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}
.decision-button:hover {
    background: #188CE8;
}
.details-title {
    visibility: hidden;
}
.details-list-head {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.details-list-uphead {
    font-weight: 400;
    font-size: 14px;
    line-height: 1,7142;
    letter-spacing: 0.03em;
    color: #757575;
}
.photo-section {
    font-weight: 700;
    font-size: 36px;
    line-height: 1,1666;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.team-user1, .team-user2, .team-user3, .team-user4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1,1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.team-user-info1, .team-user-info2, .team-user-info3, .team-user-info4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1,1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
.team-list-notgeneral1, .team-list-notgeneral2, .team-list-notgeneral3,  .team-list-notgeneral4 {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team {
    background: #F5F4FA;
}
.footer-section {
    background: #2F303A;
}
.adress {
    font-weight: 400;
    font-size: 14px;
    line-height: 1,7142;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer-title-double {
    color: #FFFFFF;
}
.portfolio-buttons {
    width: 103px;
    height: 38px;
    left: 846px;
    top: 174px;
    background: #F5F4FA;
    border-radius: 4px;
    cursor: pointer;
}
.portfolio-buttons:hover {
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.25;
    letter-spacing: 0.06em;
    color: #212121;
}
.portfolio-listx {
    width: 370px;
    height: 404px;
    left: 215px;
    top: 262px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}
.portfolio-buttons-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1,625;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    cursor: pointer;
}
.portfolio-buttons-text:hover {
    color: #FFFFFF;
}
.portfolio-downtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1,875;
    letter-spacing: 0.03em;
    color: #757575;
}