header {
    font-family: 'Roboto', sans-serif;
    border: 1px solid #ECECEC;
}
main {
    font-family: 'Roboto', sans-serif;
}
body {
    font-family: 'Roboto', sans-seerif; 
    font-size: 16px; 
    letter-spacing:0.03em; 
    color: #757575;
}
:root {
    --s-grey: #757575;
    --s-black: #212121;
}
.header-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
}
.header-title-double {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
    color: #000000;
}
.header-list,
.contacts-mail,
.contacts{
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list2,
.header-list3,
.header-list1  {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    color: var(--s-black);
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
}  
.header-list-main,
.header-list-contacts,
.details-list,
.photo-list,
.team-list,
.portfolio-list,
.portfolio-buttons-list {
list-style: none;
}
.header-list:hover {
    color: #2196F3;
}
.header-list:focus {
    color: #188CE8;
}
.contacts:hover {
    color: #2196F3;
}
.contacts:focus {
    color: #188CE8;
}
.contacts-mail:hover {
    color: #2196F3;
}
.contacts-mail:focus {
    color: #188CE8;
}
.contacts-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    color: var(--s-grey);
}
.contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    color: var(--s-grey);
}
.decisions {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(./images/bg.jpg);
    flex-grow: 1;
    max-width: 1600px;
     height: 600px;
     margin: 0 auto;
}
.decision-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.decision-button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.decision-button:hover {
    background: #188CE8;
}
.decision-button:focus {
    background: #188CE8;
}
.details-list-head {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--s-black);
}
.details-list-uphead {
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: var(--s-grey);
}
.photo-section {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin: 0 0 50px;
}
.team-user1,
.team-user2,
.team-user3,
.team-user4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.team-user-info1,
.team-user-info2,
.team-user-info3,
.team-user-info4 {
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--s-grey);
}
.team-list-notgeneral {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team {
    background: #F5F4FA;
}
.footer-section {
    background: #2F303A;
}
.adress {
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer-title-double {
    color: #FFFFFF;
}
.portfolio-buttons {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    cursor: pointer;
    border: 0;
    padding: 6px 22px;
    border-radius: 4px;
    background: #F5F4FA;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.portfolio-buttons:hover {
    background: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-buttons:focus {
    color: #FFFFFF;
    background-color: #188CE8;
}
.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.25;
    letter-spacing: 0.06em;
    color: var(--s-black);
}
.portfolio-downtitle {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--s-grey);
}
.contacts-mail-footer,
.contacts-footer {
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-mail-footer:hover {
    color: #2196F3;
}
.contacts-footer:hover {
    color: #2196F3;
}
.contacts-mail-footer:focus {
    color: #188CE8;
}
.contacts-footer:focus {
    color: #188CE8;
}
.container {
width: 1200px;
margin: 0 auto;
padding: 0 15px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    align-items: center;
}
.header-list-main {
    display: flex;
    gap: 50px;
    margin-left: 93px;
}
.header-navigation {
    margin-right: auto;
}
.header-list-contacts {
    display: flex;
    align-items: center;
    gap: 50px;
}
.decisions {
   padding-top: 200px;
   padding-bottom: 200px;
}
.decision-title {
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.decision-button {
    letter-spacing: 0.06em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    margin: 0 auto;
    border: 0;
}
.details-list {
    display: flex;
    gap: 30px;
}
.details-list h3{
    margin-bottom: 10px;
}
.section, 
.photo {
    padding-top:0;
}
.details-list p{
    width: 270px;
}
.photo-list {
    display: flex;
    gap: 30px;
    justify-content: center;
}
.team-list {
    display: flex;
    gap: 30px;
}
.team-container {
   padding-top: 30px; 
   padding-bottom: 30px;
}
.team-container h3{
    margin-bottom: 10px;
}
.team {
    padding-bottom: 95px;
}
.footer-section {
    display: flex;
    flex-direction: column;
}
.footer-header-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
}
.footer-header-list-main {
    list-style: none;
}
.portfolio-buttons-list {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 50px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.section {
    padding-top:94px;
    padding-bottom:94px;
}
.null {
    padding-top: 0px;
}
footer {
padding-top: 60px;
padding-bottom: 60px;
}
body img{
    display:block;
}
.portfolio-images-downtitle {
    padding-top: 20px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 20px;
}
.portfolio-images-downtitle h2{
    margin-bottom: 5px;
}
.portfolio-listx {
    background: #FFFFFF;
}
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.portfolio-images-downtitle {
    border: 1px solid #EEEEEE;
    border-top: 0px;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.details-list li{
    flex-basis: calc((100% - 90px) / 4);  
}
.portfolio-listx {
    flex-basis: calc((100% - 60px) / 3);
}
.team-links-info {
display: flex;
align-items: center;
justify-content: center;
width: 44px;
height: 44px;
border-radius: 50%;
color: #AFB1B8;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.team-links-list {
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.team-link-icon {
    fill: currentColor;
}
.team-list-notgeneral {
    width: 270px;
}
.team-links-info:hover {
background-color: #2196F3;
color: #FFFFFF;
}
.team-links-info:focus {
    background-color: #2196F3;
    color: #FFFFFF;
}
.clients-list {
    list-style: none;
    display: flex;
    gap: 30px;
}
.clients-link svg{
    fill: currentColor;
}
.clients-link {
    display: flex;
    height: 92px;
    color: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    justify-content: center;
     align-items: center; 
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.clients-link:hover {
   color: #2196F3;
   border-color: #2196F3;
}
.clients-link:focus {
    color: #2196F3;
    border-color: #2196F3;
}
.footer-links {
    background:linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
fill: #ffffff;
display: flex;
width: 44px;
height: 44px;
border-radius: 50%;
justify-content: center;
align-items: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-links:hover {
    background-color: #2196F3;
}
.footer-links:focus {
    background-color: #2196F3;
}
.footer-list {
    display: flex;
    gap: 10px;
    list-style: none;
}
.header-list-contacts a:hover{
    color: #2196F3;
}
.header-list-contacts {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list-contacts a:focus{
    color: #2196F3;
}
.header-list-contacts svg{
    fill: currentColor;
}
.header-list-contacts{
display: flex;
align-items: center;
}
.img-cont {
    background-color: #F5F4FA;
    border-radius: 4px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.title-footer {
    color: #ffffff;
}
.footer-svg h3{
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}
footer .container{
 display: flex;
 align-items: baseline;
}
.contact-wrapper {
    margin-right: 70px;
}
.clients-list li{
    flex-basis: calc((100% - 150px) / 6); 
}
.team-links-list {
    margin-top: 16px;
}
footer li{
    margin-top: 9px;
}
.portfolio-shadow:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-shadow {
    display: block;
    text-decoration: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-shadow:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.contacts-mail {
    display: flex;
     align-items: center;
      gap: 10px; 
}
.contacts {
    display: flex;
     align-items: center;
      gap: 10px;
}

.p-downtitle {
    font-size: 14px;
    position: absolute;
line-height: 1.1428;
text-align: center;
padding-top: 27px;
padding-bottom: 27px;
letter-spacing: 0.03em;
text-transform: uppercase;
    color: #fff;
    background: rgba(47, 48, 58, 0.8);
    left: 0;
     bottom: 0;
     width: 100%;
     font-weight: 700;
}
.li-relative {
    position: relative;
}
.portfolio-lorem {
    position: absolute;
    top: 0;
    background-color: rgba(33, 150, 243, 0.9);
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5555;
    letter-spacing: 0.03em;
    padding-top: 63px;
    padding-bottom: 63px;
    padding-right: 24px;
    padding-left: 24px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-div-lorem {
    position: relative;
    overflow: hidden;
}
.portfolio-shadow:hover .portfolio-lorem{
    transform: translateY(0);
}
.current::after {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
    bottom: -1px;
    display: block;
    content: "";
}
.header-list {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
}
.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: rgba(0, 0, 0, 0.2);
}
.modal {
    width: 528px;
    padding: 40px;
    transform: translate(-50%, -50%) scale(1);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    position: absolute;
    background-color: #ffff;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
    
}
.modal-x {
    fill: currentColor;
}
.button-modal {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 8px;
}
.modal-x:hover{
    fill: #2196F3;
}
.modal-x:focus {
    fill: #2196F3;
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.current-pos {
    color: #2196F3;
}
.modal-title {
    font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 30px;
}
.modal-input {
   width: 448px;
   height: 40px; 
   border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color:transparent;
    padding-left: 42px;
    font-size: 12px;
}
.modal-input2 {
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color:transparent;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 28px;
    padding-bottom: 20px;
    resize: none;
    font-size: 12px;
}
.modal-form {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.modal-input::placeholder {
    font-size: 12px;
    line-height: 1.1666;
    letter-spacing: 0.01em;
    color: #757575;
}
.form-svg {
    position:absolute;
     top:50% ;
     transform: translateY(-50%);
     left:12px
}
.label {
    display: block;
    font-size: 12px;
    line-height: 1.1666;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
}
.modal-field {
    position: relative;
    margin-bottom: 10px;
}
.modal-input:focus{
    outline: 1px solid  #2196F3;
    border: transparent;
}
.modal-input:hover {
    border-color: #2196F3;
}
.modal-input:focus + .form-svg{
    fill: #2196F3;
}
.modal-input2:focus{
    outline: 1px solid  #2196F3;
    border: transparent;
}
.modal-input2:hover {
    border-color: #2196F3;
}
.button-submit {
    color: #ffffff;
    background-color: #188CE8;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    text-align: center;
    letter-spacing: 0.06em;
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    padding: 10px 52px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-submit:hover {
    background-color: #2196F3;
}
.footer-field {
    position: relative;
    margin-left: auto;
}
.footer-button {
    fill: #ffffff;
    background-color: #188CE8;
    color: #ffffff;
    border: 0;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding-left: 28px;
    padding-right: 28px;
    gap: 10px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),;
}
.footer-button:hover {
    background-color: #2196F3;
}
.footer-input {
    width: 358px;
    height: 50px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}
.label-footer {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14285;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    display: block;
    margin-bottom: 20px;
}
.footer-input:focus  {
    outline: 1px solid  #ffffff;
    border: transparent;
}
.div-footer-pos {
    display: flex;
}
.relative {
    position: relative;
}
