.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: rgba(0, 0, 0, 0.2);
}
.modal {
    width: 528px;
    padding: 40px;
    transform: translate(-50%, -50%) scale(1);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    position: absolute;
    background-color: #ffff;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
    
}
.modal-x {
    fill: currentColor;
    &:hover{
        fill: #2196F3;
    }
    &:focus {
        fill: #2196F3;
    }
}
.button-modal {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 8px;
}
.current-pos {
    color: #2196F3;
}
.modal-title {
    font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 12px;
}
.modal-input {
   width: 100%;
   height: 40px; 
   border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color:transparent;
    padding-left: 42px;
    font-size: 12px;
    &::placeholder {
        font-size: 12px;
        line-height: 1.1666;
        letter-spacing: 0.01em;
        color: #757575;
    }
    &:focus{
        outline: 1px solid  #2196F3;
        border: transparent;
    }
    &:hover {
        border-color: #2196F3;
    }
}
.modal-input2 {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color:transparent;
    padding: 12px 16px;
    display: block;
    resize: none;
    font-size: 12px;
    &:focus{
        outline: 1px solid  #2196F3;
        border: transparent;
    }
    &:hover {
        border-color: #2196F3;
    }
}
.modal-form {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.form-svg {
    position:absolute;
     top:50% ;
     transform: translateY(-50%);
     left:12px
}
.label {
    display: block;
    font-size: 12px;
    line-height: 1.1666;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
}
.modal-field {
    position: relative;
    margin-bottom: 10px;
    width: 100%;
}
.modal-input:focus + .form-svg{
    fill: #2196F3;
}
.button-submit {
    color: #ffffff;
    background-color: #188CE8;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    text-align: center;
    letter-spacing: 0.06em;
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    padding: 10px 52px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        background-color: #2196F3;
    }
}
.check-text {
    font-size: 14px;
    line-height: 1.71428;
    letter-spacing: 0.03em;
    color: var(--s-grey);
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 10px;
    &::before {
        content: '';
        width: 16px;
        height: 15px;
        border: 2px solid #212121;
        border-radius: 2px;
        margin-right: 7px;
    }
}
.input-checkbox:checked +  .check-text::before {
    background-color: #2196F3;
    border: none;
    background-image: url(./images//ok.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.input-checkbox:focus + .check-text::before { 
    border-color: #2196F3; 
}
.relative {
    position: relative;
}
.label-second {
    color: #2196F3;
    cursor: pointer;
}